@{
    ViewBag.Title = "WebPageTester";
}

<div>
    <h2>WebPage IP Tester</h2>
    <h3>FOR ACCESSING OUR SERVICES CLICK IN THE BUTTON BELOW</h3> <br/>
    <button><a href= "https://localhost:44373/Home/GeoExample">GET INFO</a></button>
              <!--http://webpagetest-dev.us-east-1.elasticbeanstalk.com/Home/GeoExample-->
</div>

<div class="row">

</div>
